<configuration>
    <appSettings>
        <add key="ClientId" value="B26_yHo0DbmTW19DQthgV5t9nDsa" />
        <add key="ClientSecret" value="cxLl9O3jzuqVqzbCGGpO4E4rOf4a" />
        <add key="AuthorizationEndpoint" value="https://localhost:9443/oauth2/authorize" />
        <add key="TokenEndpoint" value="https://localhost:9443/oauth2/token" />
        <add key="UserInfoEndpoint" value="https://localhost:9443/oauth2/userinfo" />
        <add key="LogoutEndpoint" value="https://localhost:9443/oidc/logout" />
        <add key="RedirectURI" value="https://localhost:44349/aboutMePage.aspx" />
        <add key="PostLogoutRedirectURI" value="https://localhost:44349/aboutMePage.aspx" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>